#title {
  background-color: #E8CDC3;
  color: #fff;
  ;
}
a {text-decoration: none;}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;

}

body {
  font-family: "Montserrat", sans-serif;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px 0 18px;
  font-size: 1.2rem
}

.warna {color:  #72EFB2;}
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
  width: 60%;
  border-radius: 100%;
  height: 300px;
  ;
  width: 300px;
  border: 5px solid;
}

/* FEATURES */
#features {
  padding: 5% 5% 0 5%;
position: relative;
}

.fitur {
  text-align: center;
  font-family: "Montserrat-bold"
}

.paragraf-fitur {
  color: #8f8f8f;
}
.paragraf-fitur2 {font-size: 0.7rem;
text-align: center;
padding-bottom: 2px;
color: }

.heading-fitur {
  font-size: 1.5rem;
  margin-top: 10px;
  font-family: "Montserrat-bold";
  font-weight: 900;
}
.heading-features {text-align: center;
position: relative;
left: 0px;
padding-bottom: 50px;
font-family: 'Montserrat';
font-weight: 400;}


/* testimonial */
#testimonials {
  background-color: #E8CDC3;
  text-align: center;
  color: white;
}

.heading-testi {
  font-family: 'Montserrat';
  font-size: 2rem;
  line-height: 1.5;
  color: #E69674;
}

.foto-testimonial {
  width: 7%;
  border-radius: 10%;
  margin: 20px;


}
.foto-testimonial2 {
  width: 5%;
  margin: 20px;

}
.foto-testimonial3 {
  width: 9%;
  margin: 20px;

}


.em-testimonial {
font-size: 20px;
color: grey;

}

#press {
  background-color: #E8CDC3;
  text-align: center;
  padding-bottom: 3%;
}

.foto-press {
  width: 15%;
  margin-right: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
  text-align: center;
  color:white;
}
.paragraf-readmore {color: white;}
.mikhael {border-radius: 100%;
height: 10%;
width: 10%;}


#footer {
text-align: center;
padding: 1%;
color: #000000;}

.hrPemisah {
	border-top: 8px dotted #8c8b8b;
    padding-left: 0px;
    border-left-width: 20px;
    border-right-width: 20px;
    margin-left: 800px;
    margin-right: 800px;

}
.heading-testi2 {
  color : grey;
  font-family: 'Montserrat';
  font-size: 2rem;
  line-height: 1.5;

}
.fotoFooter {
width : 2%;


}
